body {
  text-align: center;
  font-family: 'Arvo', serif;
  list-style-position: inside;
}

img {
  height: 500px;
  width: 900px;
}

table {
display: inline;
list-style: none;
float: center;
margin: 10px;
width: 100px;
min-height: 100px;
}

ul {
  width: 356px;
  text-align: center;
}
